fastapi
uvicorn
firebase-admin
pyrebase4
pydantic
pydantic[email]
jose
pyjwt
python-jose
shortuuid
starlette
python-multipart
requests
passlib
redis

# for delete
sqlalchemy
alembic
psycopg2-binary
python-dotenv

